*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 48px;
}

button{
    background-color: #0055FF;
    border: 2px solid #0000FF;
    padding: 3px;
    border-radius: 5px;
    color: #EEEEEE;
    height: fit-content;
}

body{
    background-color: #222222;
}

#title{
    margin: 25px 0px;
    text-align: center;
    color: #EEEEEE;
}

#canvas{
    display: flex;
    width: 480px;
    height: 480px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.pixel{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}

#tools{
    display: flex;
    width: 480px;
    margin: 15px auto;
    justify-content: space-between;
    color: #EEEEEE;
}

#rangeSizeSelector{
    display: block;
    margin-bottom: 3px;
}

button:hover{
    background-color: #0088FF;
    border: 2px solid #0033FF;
}