*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 48px;
}

body{
    background-color: #222222;
}

#title{
    margin: 25px 0px;
    text-align: center;
    color: #EEEEEE;
}

#canvas{
    display: flex;
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
}

.pixel{
    background-color: #EEEEEE;
    height: 20px;
    width: 20px;
    border: 1px solid #DDDDDD;
}